@{
    ViewBag.Title = "E-mail bevestigd";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Bedankt om uw e-mail te bevestigen. Gelieve @Html.ActionLink("hier in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
