@{
    ViewBag.Title = "Wachtwoord reset bevestiging";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Er is een e-mail naar u verzonden met een link om uw wachtwoord te resetten.
    </p>
</div>