@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">Er is een fout opgetreden tijdens het uitvoeren van uw verzoek.</h2>

